/* Commons */
.section-title {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 5vw;
}
.under-line {
    text-decoration: underline;
}


/* Main Section */
#main {
    padding-top: 5%;
    padding-bottom: 3%;
    background-image: url(./Images/Main-Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    color: white;
}

.main-title-text {
    font-size: 4vw;
    text-align: center;
}

.main-title-text2 {
    color: var(--main-color);
}

.main-description {
    padding: 30px;
    font-size: 2.5vw;
    text-align: center;
}

.main-link-container {
    width: 70vw;
    margin-left: 15vw;
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
}

.main-link-container a {
    text-decoration: none;
}

.main-link-item {
    width: 12.5vw;
    text-align: center;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

.main-link-item:hover {
    animation-name: color;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.main-link-item:not(:hover) {
    animation-name: color-rev;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes color {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: var(--main-color);
    }
}
@keyframes color-rev {
    0% {
        background-color: var(--main-color);
    }

    100% {
        background-color: transparent;
    }
}

.main-link-item p {
    font-size: 1vw;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 900;
    color: white;
}


/* Stats Section*/

#stats {
    padding-bottom: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    background-image: url(./Images/Acceptance-Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.stats-title {
    text-align: center;
    font-size: 5vw;
    margin-top: 5vw;
    margin-bottom: 1vw;
}

.stats-subtitle {
    font-size: 1.5vw;
    text-align: center;
}

.stats-container {
    margin-top: 3vw;
    display: flex;
    width: 70vw;
    justify-content: space-around;
}

.stats-item {
    text-align: center;
}

.stats-item-title {
    font-size: 10vw;
    font-weight: bolder;
}

.stats-item-line {
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1.5vw;
}

.stats-item-para {
    font-size: 2vw;
}

/* Why EduGate Section */

#why {
    margin-bottom: 10vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 31vw;
}

.why-title {
    margin-top: 8vw;
}

.why-container {
    display: flex;
    justify-content: space-around;
    padding: 0 2vw;
}

.why-element {
    display: flex;
    flex-direction: column;
    width: 30vw;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(72, 72, 72);
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    animation-name: color-why-rev;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.why-element:hover {
    animation-name: color-why;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.why-element-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.6vw;
}

.why-element-para {
    padding: 0 20px;
    font-size: 1.1vw;
}

@keyframes color-why {
    0% {
        background-color: transparent;
        color: black;
        border-color: black;
    }

    100% {
        background-color: var(--main-color);
        color: white;
        border-color: rgb(170, 170, 170);
    }
}
@keyframes color-why-rev {
    0% {
        background-color: var(--main-color);
        color: white;
        border-color: rgb(170, 170, 170);
    }

    100% {
        background-color: transparent;
        color: black;
        border-color: black;
    }
}

/* Review Section */
#review {
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 100px;
}

.review-collection {
    display: flex;
    justify-content: space-around;
}

.review-box {
    position: relative;
    border: solid 1px rgb(182, 181, 181);
    border-radius: 10px;
    padding: 2vw;
    width: 20vw;
}

.review-box-title {
    margin-bottom: 1vw;
    font-size: 1.5vw;
}

.review-box-sub {
    font-size: 1.2vw;
}

.review-box-content {
    font-size: 1vw;
}

.review-box:nth-of-type(1) img,
.review-box:nth-of-type(2) img {
    position: absolute;
    top: 1vw;
    right: 1.3vw;
    width: 4vw;
}

.review-box:nth-of-type(3) img,
.review-box:nth-of-type(4) img {
    position: absolute;
    top: 1vw;
    right: 0.1vw;
    width: 4vw;
}

/* popup */
.popup-title {
    font-size: calc(12px + 0.8vw);
    font-weight: 500;
    text-align: left;
    margin-bottom: 1.5vw;
}

.popup-para {
    text-align: left;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none; /* 초기에는 숨김 */
}

.popup-content-buttons {
    display: flex;
    justify-content: space-around;
}

.popup-kakao {
    background-color: #FEE501;
}

.popup-kakao a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.popup-form {
    background-color: #9272ca;
}

.popup-form:hover {
    background-color: #713ccc;
}

.popup-form a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.popup-kakao:hover {
    background-color: #e6cf01;
}

.popup-content {
    position: relative;
    width: 50vw;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.popup-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.popup-close {
    background-color: #969595;
    color: white;
    font-family: "Noto Sans KR", serif;
}

.popup-close-btn {
    display: block;
    margin: 20px auto 0;
    padding: calc(10px + 0.1vw) calc(20px + 0.2vw);
    font-size: minmax(min(1.5vw, 30px), 50px);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-close:hover {
    background-color: #686868;
}

/* 닫기 버튼 스타일 */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    color: #969595;
}

.close:hover {
    color: #0c0c0c;
}