<!-- Footer Component -->
<div class="footer-pages footer-div">
    <h1 class="footer-pages-title footer-div-title">Pages</h1>
    <div class="footer-pages-line"></div>
    <a href="./Pages/DIS.html" target="_blank"><p class="footer-pages-para footer-div-para">DIS 입시</p></a>
    <a href="./Pages/Chadwick.html" target="_blank"><p class="footer-pages-para footer-div-para">Chadwick (채드윅) 입시</p></a>
    <a href="./Pages/Contact.html" target="_blank"><p class="footer-pages-para footer-div-para">Contact Us</p></a>
</div>
<div class="footer-business footer-div">
    <h1 class="footer-business-title footer-div-title">Business</h1>
    <div class="footer-business-line"></div>
    <p class="footer-business-para footer-div-para">상호: 에듀게이트 코리아</p>
    <p class="footer-business-para footer-div-para">사업자 등록번호: 396-13-02345</p>
</div>
<div class="footer-contact footer-div">
    <h1 class="footer-conatct-title footer-div-title">Contact</h1>
    <div class="footer-contact-line"></div>
    <a href="https://pf.kakao.com/_VxdJHG" target="_blank"><p>카카오 채널</p></a>
    <a href="https://blog.naver.com/edugate-daegu" target="_blank"><p>네이버 블로그</p></a>
    <a href="https://instagram.com/edugate_edu/" target="_blank"><p>Instagram</p></a>
    <a href="https://www.youtube.com/@edugatekorea" target="_blank"><p>YouTube</p></a>
</div>