<!-- Header Component -->
<div class="header-logo">
    <a href="https://www.edugate-kr.com"><h1 class="header-logo-text">EduGate</h1></a>
</div>
<div class="header-menu">
    <a href="https://www.edugate-kr.com" class="header-menu-ele header-menu-Home">Home</a>
    <a href="https://www.edugate-kr.com/Pages/DIS" class="header-menu-ele header-menu-DIS">DIS 입시</a>
    <a href="https://www.edugate-kr.com/Pages/Chadwick" class="header-menu-ele header-menu-Chadwick">Chadwick 입시</a>
    <a href="https://www.edugate-kr.com/Pages/Consulting" class="header-menu-ele header-menu-College">미국 대학 컨설팅</a>
    <a href="https://www.edugate-kr.com/Pages/SAT" class="header-menu-ele header-menu-SAT">SAT</a>
    <a href="https://www.edugate-kr.com/Pages/Med" class="header-menu-ele header-menu-Med">치/의대 보장 프로그램</a>
    <a href="https://www.edugate-kr.com/Pages/Contact" class="header-menu-ele header-menu-Contact">상담신청</a>
</div>
