#Chadwick-title {
    font-size: 2.5vw;
    padding: 4vw;
    background-color: #012B55;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

.Chadwick-title-box {
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 2vw;
    height: 8.5vw;
    width: 65vw;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-60%);
    }
    100% {
      transform: translateX(0);
    }
  }

.Chadwick-title-box-text {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.Chadwick-title-box-deco {
    position: absolute;
    top: 9.5vw;
    left: 5vw;
    border: solid white 0.2vw;
    /*background-color: transparent;*/
    height: 8.5vw;
    width: 65vw;

    animation: 1s ease-out 0s 1 slideInFromLeft;
}

/* Programs Section */

#Chadwick-programs {
  display: flex;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Chadwick-programs-program {
  box-sizing: border-box;
  width: 25vw;
  padding-top: 1.5vw;
  padding-bottom: 2vw;
}

.Chadwick-programs-1 {
  background-color: rgb(240, 240, 240);
}

.Chadwick-programs-2 {
  background-color: rgb(230, 230, 230);
}

.Chadwick-programs-3 {
  background-color: rgb(210, 210, 210);
}

.Chadwick-programs-4 {
  background-color: rgb(190, 190, 190);
}

.Chadwick-programs-program-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.7vw;
  margin-bottom: 20px;
  text-align: center;
}

.Chadwick-programs-program p {
  padding: 1.2vw;
  font-size: 1.2vw;
}

/* Strategy Section */

#Chadwick-strategy {
  margin-top: 10vw;
  box-sizing: border-box;
}

.Chadwick-strategy-title {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  font-size: 4vw;
  margin-bottom: 1vw;
  text-align: center;
}

.Chadwick-strategy-container {
  display: flex;
}

.Chadwick-strategy-container .Chadwick-strategy-ele:nth-child(1) {
  background-color: #80a9dbb1;
}

.Chadwick-strategy-container .Chadwick-strategy-ele:nth-child(2) {
  background-color: #94bae873;
}

.Chadwick-strategy-container .Chadwick-strategy-ele:nth-child(3) {
  background-color: #b2c8e45f;
}

.Chadwick-strategy-ele {
  width: 33.3vw;
  padding: 4vw 0;
}

.Chadwick-strategy-ele-title {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 800;
  font-size: 1.7vw;
}

.Chadwick-strategy-ele-title span {
  font-weight: 400;
}

.Chadwick-strategy-ele-para {
  margin-top: 2vw;
  padding: 0 2vw;
  font-size: 1.4vw;
  font-family: "Noto Sans KR", sans-serif;
}

/* Impact */
#Chadwick-impact {
  margin-top: 5vw;
  margin-bottom: 10vw;
  padding-left: 10vw;
}

.Chadwick-impact-line img {
  width: 7vw;
}

.Chadwick-impact-line h2 {
  font-size: 2.5vw;
  font-style:italic;
  display: inline;
  position: relative;
  top: -2.5vw;
}

.Chadwick-impact-line p {
  font-size: 1.5vw;
  display: block;
  font-style:italic;
  padding-left: 8vw;
  position: relative;
  top: -1.5vw;
}

/* Programs2 section */

#Chadwick-programs2 {
  display: flex;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10vw;
}

.Chadwick-programs2-program {
  box-sizing: border-box;
  width: 25vw;
  padding-top: 1.5vw;
  padding-bottom: 2vw;
}

.Chadwick-programs2-1 {
  background-color: rgb(240, 240, 240);
}

.Chadwick-programs2-2 {
  background-color: rgb(230, 230, 230);
}

.Chadwick-programs2-3 {
  background-color: rgb(210, 210, 210);
}

.Chadwick-programs2-4 {
  background-color: rgb(190, 190, 190);
}

.Chadwick-programs2-program-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  margin-bottom: 20px;
  text-align: center;
}

.Chadwick-programs2-program p {
  padding: 1.2vw;
  font-size: 1.2vw;
}

/* Blog Section */
#Chadwick-blog {
  padding-left: 3vw;
  padding-right: 3vw;
}

.Chadwick-blog-title {
  text-align: center;
  font-size: 3.5vw;
  margin-bottom: 3vw;
}

.Chadwick-blog-container {
  display: flex;
  justify-content: space-around;
}

.Chadwick-blog-ele {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}

.Chadwick-blog-ele img {
  width: 27vw;
}

.Chadwick-blog-ele-title {
  text-align: center;
  text-decoration: underline;
  color: black;
  margin-top: 1vw;
  font-size: 1vw;
}

/* Quote Section */
#Chadwick-quote {
  box-sizing: border-box;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10vw;
  margin-top: 10vw;
}

.Chadwick-quote-ele {
  text-align: center;
  font-size: 3vw;
  font-style: italic;
}

#empty {
  height: 10vh;
}